# Abstraction

In [12]:
class test:
    def __init__(self, a,b,c,d):
        self.__a = a
        self.b = b
        self.c = c
        self.d = d
        
    def custom(self, v):
        return v - self.__a
    
    def __str__(self):
        return "Code for Abstraction"

In [13]:
o = test(7,3,5,6)

In [14]:
o.__a

AttributeError: 'test' object has no attribute '__a'

#  " __ " = Private 
#   " _ "  = Protected
#  "      "  = Public

In [15]:
o._test__a

7

# Inheritence

In [19]:
class test1(test):
    def __init__(self, j, *args):
        super(test1, self).__init__(*args)
        self.j = j

In [20]:
m = test1(1,2,3,4,5)
m.b

3

In [21]:
m.j

1

## super( child, self).__init__(*args)

# HW

In [55]:
class test:
    def __init__(self,q):
        self.q = q
        
    def a(self):
        print(" Class: test")
        
        
class test1:
    def __init__(self,w):
        self.w = w
        
    def ab(self):
        print(" Class: test_1 ")

In [56]:
class test2(test, test1):
    def __init__(self,r, *args ):
        super(test2, self).__init__( *args)
        self.r = r

In [57]:
o = test2(1,3)

In [58]:
o.r

1

In [59]:
o.q

3

In [51]:
o.w

AttributeError: 'test2' object has no attribute 'w'

In [60]:
o.ab()

 Class: test_1

In [52]:
class test:
    def a(self):
        print(" Class: test")
        
        
class test1:
    def a(self):
        print(" Class: test_ 1 ..")
        

class test2(test, test1):
    def a(self):
        test.a(self)
        test1.a(self)
        
t = test2()
t.a()

 Class: test
 Class: test_ 1 ..

#

In [73]:
class Tproma:
    company_website = "https://tproma.github.io/"
    name = "Tproma"
    
    def contact(self):
        print("Contact me at ", self.company_website)
        
class DataScience(Tproma):
    def __init__(self):
        self.year_of_establishment = 2017
        
    def est_details(self):
        print('{0} Company was established in {1}'.format(self.name, self.year_of_establishment))

In [74]:
d = DataScience()
d.est_details()

Tproma Company was established in 2017

In [75]:
class OS:
    multi_task = True
    os_name = "Windows OS"
    name = "Sam"
    

class windows(OS, Tproma):
    def __init__(self):
        if self.multi_task is True:
            print("multi task")
        print('Name : {} '.format(self.name))
        
w = windows()

multi task
Name : Sam

In [76]:

class windows( Tproma, OS):
    def __init__(self):
        if self.multi_task is True:
            print("multi task")
        print('Name : {} '.format(self.name))
        
w = windows()

multi task
Name : Tproma

## Multi-level Inheritence

In [78]:
class Coursera:
    num_of_classes = 12
    
class DataScience(Coursera):
    course_type = "Data-Science"
    
class AI(DataScience):
    def __init__(self):
        self.company = "Coursera"
        print('The company {0} offers total {1} courses,which are {2} types'.format(self.company, self.num_of_classes, self.course_type))
    
              
              
AI = AI()

The company Coursera offers total 12 courses,which are Data-Science types

# Encapsulation

In [92]:
class test:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
        
    def __str__(self):
        return "test class return"
    
    
    
class test1:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
        
    def __str__(self):
        return "test 1 class return"
    
    
    
    
class test2:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
        
    def __str__(self):
        return "test 2 class return"
    

class final:
    def __init__(self, x,y,z):
        self.x = x
        self.y = y
        self.z = z 
        
    def __str__(self):
        return str(self.x) + " , " + str(self.y) + " , " + str(self.z)

In [93]:
t = test(1,2,3)
t1 = test1(4,5,6)
t2 = test2(7,8,9)
f = final(t,t1,t2)
print(f)

test class return , test 1 class return , test 2 class return

In [94]:
f2 = final(t,t1," Proma")
print(f2)

test class return , test 1 class return ,  Proma

### Encapsulation requires you to call the class objects as a parameter for another object

In [95]:
# Inheritence

In [96]:
class parent:
    a = 19
    b = 24
    
    def __init__(self, parent_a, parent_b):
        self.parent_a = parent_a
        self.parent_b= parent_b
        
        
class child:
    print(parent.a)

19

In [97]:
class parent:
    a = 19
    b = 24
    
    def __init__(self, parent_a, parent_b):
        self.parent_a = parent_a
        self.parent_b= parent_b
        
        
class child(parent):
    def __init__(self, *args):
        super(child, self).__init__(*args)

# Object multiplication

In [106]:
class multinumeric():
    def __init__(self, a):
        self.a = a

In [107]:
mul = multinumeric(4)
mul1 = multinumeric(9)

In [108]:
mul * mul1

TypeError: unsupported operand type(s) for *: 'multinumeric' and 'multinumeric'

In [109]:
mul.a * mul1.a

36

# Operator Overloading

In [119]:
class multinumeric():
    def __init__(self, a):
        self.a = a
       
    def __mul__(self, other):
        return self.a + other.a

In [120]:
mul = multinumeric(4)
mul1 = multinumeric(9)

In [121]:
mul * mul1

13

In [127]:
mul.__mul__

# Polymorphism

In [128]:
def test(a,b):
    return a+b

In [129]:
print(test(5,6))
print(test("as"," F "))
print(test([1,2,3],[7,8,9]))

11
as F
[1, 2, 3, 7, 8, 9]

# Encapsulation / Polymorphism???

In [137]:
class abc:
    def msg(self):
        print(" msg from abc class. ")
    
    
    
class xyz:
    def msg(self):
        print(" msg from XYZ class. ")

In [138]:
def test3(notes):
    notes.msg()

In [139]:
a = abc()
x = xyz()

In [140]:
test3(a)

 msg from abc class.

In [141]:
test3(x)

 msg from XYZ class.

In [142]:
# Its polymorphism

#