# tuples

In [1]:
t = ()

In [2]:
type(t)

tuple

In [4]:
t1 = (12, 3, "pro", 1.1, True)

In [5]:
l1 = [12, 3, "pro", 1.1, True]

In [9]:
t1[0]

12

In [10]:
t1[6]

IndexError: tuple index out of range

In [11]:
t1[0:4]

(12, 3, 'pro', 1.1)

In [12]:
t1[::-1]

(True, 1.1, 'pro', 3, 12)

In [17]:
t1[-1]

True

In [18]:
t1[0] = "sam"

TypeError: 'tuple' object does not support item assignment

## tuple is immutable , they can not be reassigned.

In [20]:
t2= (1,2,3)

In [21]:
t1+t2

(12, 3, 'pro', 1.1, True, 1, 2, 3)

In [23]:
t1*2

(12, 3, 'pro', 1.1, True, 12, 3, 'pro', 1.1, True)

In [24]:
1 in t1

True

In [25]:
2 in t1

False

In [26]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
t3 =(3,8,1)

In [28]:
max(t3)

8

In [29]:
t1+t3

(12, 3, 'pro', 1.1, True, 3, 8, 1)

In [31]:
l2 = list(t1)

l2

In [33]:
l2.insert(2, 34)

In [34]:
l2

[12, 3, 34, 'pro', 1.1, True]

Tuple does not allow insert. So convert it toa list

In [38]:
t4 = ((4,32), ("as","sd" ), ("sd", 4),[2,3,4])

In [39]:
t4

((4, 32), ('as', 'sd'), ('sd', 4), [2, 3, 4])

tuples can hold all sorts of data, including strings, lists and tuples themselves

In [41]:
t4[3]

[2, 3, 4]

In [43]:
t4[3][1:3]

[3, 4]

In [44]:
t4[1][1]

'sd'

In [46]:
for i in t4:
    if type(i)==tuple:
        print("{} is a tuple".format(i))

(4, 32) is a tuple
('as', 'sd') is a tuple
('sd', 4) is a tuple

In [50]:
i = input("Enter: ")

if i in t1:
    print("{} is in the tuple".format(i))
    
else:
     print("{} Not available".format(i))

Enter: pro
pro is in the tuple

In [51]:
t1

(12, 3, 'pro', 1.1, True)

### Set

In [52]:
x = set()

In [53]:
type(x)

set

In [55]:
l1

['sam', 3, 'pro', 1.1, True]

In [58]:
s = set(l1)

In [60]:
s

{1.1, 3, True, 'pro', 'sam'}

In [59]:
for i in s:
    print(i)

1.1
True
3
pro
sam

In [61]:
s[1]

TypeError: 'set' object is not subscriptable

set is an unordered collection of unique elements

In [63]:
s.add(3)

In [64]:
s

{1.1, 3, True, 'pro', 'sam'}

In [71]:
s.add(2)

In [72]:
s

{1.1, 2, 3, True, 'pro', 'sam'}

In [73]:
s.add(32)

In [74]:
s

{1.1, 2, 3, 32, True, 'pro', 'sam'}

In [75]:
s.remove(3)

In [76]:
s

{1.1, 2, 32, True, 'pro', 'sam'}

In [77]:
l5 = [51,32,13]

In [78]:
s1 = set(l5)

In [79]:
s1

{13, 32, 51}

In [84]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [85]:
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [86]:
l6 = list(s)

In [87]:
l6.append(87)

In [89]:
l6

[32, 1.1, True, 2, 'pro', 'sam', 87]

In [90]:
t4 = tuple(s)

In [91]:
t4

(32, 1.1, True, 2, 'pro', 'sam')

# Dictionary

In [92]:
x = {}

In [93]:
type(x)

dict

In [94]:
x1 = {54,23}

In [95]:
type(x1)

set

In [115]:
x = {"name ": "pro", "age " : 32,  True: 1, "name_2 ": "abc", "str": [9, 5,11,35,65,34,61,230]}

In [116]:
type(x)

dict

In [117]:
x

{'name ': 'pro',
 'age ': 32,
 True: 1,
 'name_2 ': 'abc',
 'str': [9, 5, 11, 35, 65, 34, 61, 230]}

In [158]:
x2 = {"name ": "pro", "age " : 32,  True: 1, "dict": {"name": "qwe", 245: [7,4,65,12,446,8678,87667,6], 34: (1,2,3)}, 11:[9,7,5] }

In [159]:
x2

{'name ': 'pro',
 'age ': 32,
 True: 1,
 'dict': {'name': 'qwe',
  245: [7, 4, 65, 12, 446, 8678, 87667, 6],
  34: (1, 2, 3)},
 11: [9, 7, 5]}

In [160]:
type(x2)

dict

In [161]:
x2["dict"][34]

(1, 2, 3)

In [163]:
x2[11][2]

5

In [164]:
x1+x2

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [165]:
x1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [166]:
x2

{'name ': 'pro',
 'age ': 32,
 True: 1,
 'dict': {'name': 'qwe',
  245: [7, 4, 65, 12, 446, 8678, 87667, 6],
  34: (1, 2, 3)},
 11: [9, 7, 5]}

In [168]:
x2["name "]

'pro'

In [169]:
x2["name "] ="Sam"

In [170]:
x2["name "]

'Sam'

In [171]:
x2

{'name ': 'Sam',
 'age ': 32,
 True: 1,
 'dict': {'name': 'qwe',
  245: [7, 4, 65, 12, 446, 8678, 87667, 6],
  34: (1, 2, 3)},
 11: [9, 7, 5]}

Dictionary is a mutable entity. it can be reassigned

In [172]:
x2.keys()

dict_keys(['name ', 'age ', True, 'dict', 11])

In [173]:
11 in x2.keys()

True

In [175]:
#printing values for the respective keys

for i in x2.keys():
    print(x2[i])

Sam
32
1
{'name': 'qwe', 245: [7, 4, 65, 12, 446, 8678, 87667, 6], 34: (1, 2, 3)}
[9, 7, 5]

In [177]:
#printing type for the respective keys

for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'dict'>
<class 'list'>

In [179]:
# returns as a list of tuples
x2.items()

dict_items([('name ', 'Sam'), ('age ', 32), (True, 1), ('dict', {'name': 'qwe', 245: [7, 4, 65, 12, 446, 8678, 87667, 6], 34: (1, 2, 3)}), (11, [9, 7, 5])])

In [182]:
for i in x2.items():
    print(i)

('name ', 'Sam')
('age ', 32)
(True, 1)
('dict', {'name': 'qwe', 245: [7, 4, 65, 12, 446, 8678, 87667, 6], 34: (1, 2, 3)})
(11, [9, 7, 5])

In [183]:
for i in x2.items():
    print(i[0])

name
age
True
dict
11

In [184]:
for i in x2.items():
    print(i[1])

Sam
32
1
{'name': 'qwe', 245: [7, 4, 65, 12, 446, 8678, 87667, 6], 34: (1, 2, 3)}
[9, 7, 5]

In [185]:
x3 ={(1,3,4): "sfdsdf"}

In [187]:
x3[(1,3,4)]

'sfdsdf'

In [188]:
x2

{'name ': 'Sam',
 'age ': 32,
 True: 1,
 'dict': {'name': 'qwe',
  245: [7, 4, 65, 12, 446, 8678, 87667, 6],
  34: (1, 2, 3)},
 11: [9, 7, 5]}

In [189]:
len(x2)

5

In [195]:
x2[11][0]

9

# HW

In [253]:
p = input("Enter text:")

Enter text:Text classification is a common NLP task that assigns a label or class to text. Some of the largest companies run text classification in production for a wide range of practical applications. One of the most popular forms of text classification is sentiment analysis, which assigns a label like 🙂 positive, 🙁 negative, or 😐 neutral to a sequence of text.

In [254]:
type(p)

str

In [255]:
p = p.split()

In [256]:
type(p)

list

In [257]:
len(p)

61

In [258]:
 p = set(p)

In [259]:
p

{'NLP',
 'One',
 'Some',
 'Text',
 'a',
 'analysis,',
 'applications.',
 'assigns',
 'class',
 'classification',
 'common',
 'companies',
 'for',
 'forms',
 'in',
 'is',
 'label',
 'largest',
 'like',
 'most',
 'negative,',
 'neutral',
 'of',
 'or',
 'popular',
 'positive,',
 'practical',
 'production',
 'range',
 'run',
 'sentiment',
 'sequence',
 'task',
 'text',
 'text.',
 'that',
 'the',
 'to',
 'which',
 'wide',
 '😐',
 '🙁',
 '🙂'}

In [260]:
len(p)

43

In [229]:
c = 0
for i in p:
    for j in p:
        if i==j:
            p.remove(j)

In [230]:
len(p)

25

In [231]:
p

['a',
 'NLP',
 'that',
 'a',
 'or',
 'Some',
 'the',
 'companies',
 'text',
 'in',
 'production',
 'a',
 'range',
 'applications.',
 'the',
 'popular',
 'text',
 'analysis,',
 'a',
 '🙂',
 '🙁',
 'or',
 'neutral',
 'a',
 'sequence']

In [232]:
d = {}

In [233]:
type(d)

dict

In [239]:
for keys in p:
    
    d[keys] = "pro"

In [240]:
d

{'a': 'pro',
 'NLP': 'pro',
 'that': 'pro',
 'or': 'pro',
 'Some': 'pro',
 'the': 'pro',
 'companies': 'pro',
 'text': 'pro',
 'in': 'pro',
 'production': 'pro',
 'range': 'pro',
 'applications.': 'pro',
 'popular': 'pro',
 'analysis,': 'pro',
 '🙂': 'pro',
 '🙁': 'pro',
 'neutral': 'pro',
 'sequence': 'pro'}

In [248]:
type(d)

dict

In [249]:
d.keys()

dict_keys(['a', 'NLP', 'that', 'or', 'Some', 'the', 'companies', 'text', 'in', 'production', 'range', 'applications.', 'popular', 'analysis,', '🙂', '🙁', 'neutral', 'sequence'])

In [250]:
d.values()

dict_values(['pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro', 'pro'])

In [244]:
d_t = tuple(d.values())

In [245]:
d_t

('pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro')

In [246]:
d_l = list(d.values())

In [247]:
d_l

['pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro',
 'pro']

In [266]:
p = input("Enter text:")
p = p.split()
p = set(p)
d = {}
for keys in p:
    d[keys] = "Pro"
    
#dict1 = dict.fromkeys(p, "pro")
d_t = tuple(d.values())
d_l = list(d.keys())

Enter text:Text classification is a common NLP task that assigns a label or class to text. Some of the largest companies run text classification in production for a wide range of practical applications. One of the most popular forms of text classification is sentiment analysis, which assigns a label like 🙂 positive, 🙁 negative, or 😐 neutral to a sequence of text.

In [267]:
d_l

['for',
 'to',
 'in',
 '😐',
 'production',
 'text.',
 'range',
 'NLP',
 'neutral',
 'largest',
 'analysis,',
 'Text',
 'sentiment',
 'text',
 'assigns',
 'most',
 'a',
 'like',
 'companies',
 'of',
 'classification',
 'label',
 'wide',
 'is',
 'common',
 '🙁',
 'sequence',
 'task',
 'that',
 'the',
 'positive,',
 '🙂',
 'popular',
 'which',
 'or',
 'class',
 'practical',
 'run',
 'One',
 'applications.',
 'forms',
 'negative,',
 'Some']

In [268]:
for i in d:
    print("Keys: ", i, " ;  Values: ", d[i])

Keys:  for  ;  Values:  Pro
Keys:  to  ;  Values:  Pro
Keys:  in  ;  Values:  Pro
Keys:  😐  ;  Values:  Pro
Keys:  production  ;  Values:  Pro
Keys:  text.  ;  Values:  Pro
Keys:  range  ;  Values:  Pro
Keys:  NLP  ;  Values:  Pro
Keys:  neutral  ;  Values:  Pro
Keys:  largest  ;  Values:  Pro
Keys:  analysis,  ;  Values:  Pro
Keys:  Text  ;  Values:  Pro
Keys:  sentiment  ;  Values:  Pro
Keys:  text  ;  Values:  Pro
Keys:  assigns  ;  Values:  Pro
Keys:  most  ;  Values:  Pro
Keys:  a  ;  Values:  Pro
Keys:  like  ;  Values:  Pro
Keys:  companies  ;  Values:  Pro
Keys:  of  ;  Values:  Pro
Keys:  classification  ;  Values:  Pro
Keys:  label  ;  Values:  Pro
Keys:  wide  ;  Values:  Pro
Keys:  is  ;  Values:  Pro
Keys:  common  ;  Values:  Pro
Keys:  🙁  ;  Values:  Pro
Keys:  sequence  ;  Values:  Pro
Keys:  task  ;  Values:  Pro
Keys:  that  ;  Values:  Pro
Keys:  the  ;  Values:  Pro
Keys:  positive,  ;  Values:  Pro
Keys:  🙂  ;  Values:  Pro
Keys:  popular  ;  Values:  Pro
Keys:  which  ;  Values:  Pro
Keys:  or  ;  Values:  Pro
Keys:  class  ;  Values:  Pro
Keys:  practical  ;  Values:  Pro
Keys:  run  ;  Values:  Pro
Keys:  One  ;  Values:  Pro
Keys:  applications.  ;  Values:  Pro
Keys:  forms  ;  Values:  Pro
Keys:  negative,  ;  Values:  Pro
Keys:  Some  ;  Values:  Pro