In [4]:
def test(a,b):
    sum = a+b
    print(sum)

In [6]:
type(test(5,8))

13

NoneType

In [7]:
def test1(a,b):
    sum = a+b
    return sum

In [8]:
type(test1(5,8))

int

Retun gives a type of data

In [9]:
(test(5,8)) * 3

13

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [47]:
(test1(5,8)) * 3

39

In [48]:
def test2(n,m):
    return n*10, m*2, m+n, m*n

In [49]:
(test2(1,2))

(10, 4, 3, 2)

In [51]:
## place holder _ , not interested in the data

q,_,e,_ = test2(1,2)

In [52]:
# place holder overrides. it gives you the value of the last execution.
q,_,e,_

(10, 2, 3, 2)

In [53]:
def test3():
    print(" This is a string print.")
    
    
a = test3()

b = a + "Function"
print(b)

 This is a string print.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [54]:
def test3():
    return " This is a string print."
    
    
a = test3()

b = a + "Function"
print(b)

 This is a string print.Function

In [67]:
def test4(n):
    return n*2

In [68]:
test4([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [69]:
type(test4([1,2,3,4,5,6]))

list

In [70]:
test4(5)

10

In [71]:
type(test4(5))

int

In [72]:
def test5(n):
    return n,n*2

In [78]:
q = test5([1,2,3,4,5,6])

In [79]:
type(q)

tuple

In [80]:
q

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6])

In [81]:
q[0]

[1, 2, 3, 4, 5, 6]

In [87]:
# non default argument comes before default argument
def test6(n, m = 90):
    return n+m

In [88]:
test6(10)

100

In [90]:
# overriding the default value
test6(10, 4)

14

In [98]:
def travel( b = True, c = False):
    plan = b or c
    return b,c, plan

travel()

(True, False, True)

In [99]:
travel(False)

(False, False, False)

In [100]:
travel(c = True)

(True, True, True)

In [101]:
travel(_, True)

(2, True, 2)

In [96]:
def travel( b = True, c = False):
    plan = b and c
    return b,c, plan

travel()

(True, False, False)

In [102]:
_

2

In [104]:
_ = {}

In [105]:
_

{}

In [106]:
type(_)

dict

In [111]:
def test7(*args, a = "pro"):
    return a, args

In [150]:
test7()

('pro', ())

In [151]:
test7("sam", "Siddiqui", [12,3,4,5])

('pro', ('sam', 'Siddiqui', [12, 3, 4, 5]))

In [156]:
def test_test(*args):
    s = []
    for i in args:
        s = s+i
        
    t = []
    t.append(args)
    return s

In [157]:
test_test(["sam", "Siddiqui"], [12,3,4,5], [3,5])

['sam', 'Siddiqui', 12, 3, 4, 5, 3, 5]

In [158]:
test_test("sam", [12,3,4,5])

TypeError: can only concatenate list (not "str") to list

### args
Arguments:   
be ableto pass any number of a particular data    
returns in tuple

### kwargs
Keyword Arguments:   
be able to pass any number of whatever type of data    
in key and value pair
returns in dictionary

In [159]:
def test8(**kwargs):
    return kwargs

In [160]:
test8("sam", [12,3,4,5])

TypeError: test8() takes 0 positional arguments but 2 were given

In [163]:
test8(a = 2, b = "sam", c = [2,3,4], d = [[2,4], "sam", True])

{'a': 2, 'b': 'sam', 'c': [2, 3, 4], 'd': [[2, 4], 'sam', True]}

In [164]:
list(test8(a = 2, b = "sam", c = [2,3,4], d = [[2,4], "sam", True]))

['a', 'b', 'c', 'd']

In [186]:
def test9(*args):
    inte = []
    string =[]
    boolean = []
    floats = []
    lis = []
    tuples = []
    dictionary =[]
    
    for i in args:
        if type(i) == int:
            inte.append(i)
            
        elif type(i) == str:
            string.append(i)
            
        elif type(i) == bool:
            boolean.append(i)
        
        elif type(i) == float:
            floats.append(i)   
            
        elif type(i) == list:
            lis.append(i)    
    
        elif type(i) == tuple:
            tuples.append(i)   
        
        elif type(i) == dict:
            dictionary.append(i) 
            

    return inte, boolean, string, floats, lis,tuples,dictionary

In [187]:
test9("sam", "Siddiqui", [12,3,4,5], 3, True, (2,[4,5], False), 1.1, {2, False, "Pro",3.3})

([3],
 [True],
 ['sam', 'Siddiqui'],
 [1.1],
 [[12, 3, 4, 5]],
 [(2, [4, 5], False)],
 [])

In [194]:
def test10(*args, **kwargs):
    l = [i for i in args]
    d = [i for i in kwargs.items()]
    
    return l, d

In [195]:
test10("sam", "Siddiqui", [12,3,4,5], 3, True, (2,[4,5], False), 1.1, {2, False, "Pro",3.3}, a = 99, b = "sdfsdf")

(['sam',
  'Siddiqui',
  [12, 3, 4, 5],
  3,
  True,
  (2, [4, 5], False),
  1.1,
  {2, 3.3, False, 'Pro'}],
 [('a', 99), ('b', 'sdfsdf')])

In [203]:
def test11(*args, **kwargs):
    l = [i for i in args if type(i
                                ) ==list]
    d = [i[1] for i in kwargs.items() if type(i[1]) ==list ]
    
    return l, d

In [204]:
test11("sam", "Siddiqui", [12,3,4,5], 3, True, (2,[4,5], False), 1.1, {2, False, "Pro",3.3}, a = 99, b = "sdfsdf", c = [44,21,123])

([[12, 3, 4, 5]], [[44, 21, 123]])

In [205]:
def test12(**kwargs):
    return kwargs

In [206]:
test12(q = "sam",w =[12,3,4,5],e =True,r =(2,[4,5], False),t = 1.1, y ={2, False, "Pro",3.3}, a = 99, b = "sdfsdf", c = [44,21,123])

{'q': 'sam',
 'w': [12, 3, 4, 5],
 'e': True,
 'r': (2, [4, 5], False),
 't': 1.1,
 'y': {2, 3.3, False, 'Pro'},
 'a': 99,
 'b': 'sdfsdf',
 'c': [44, 21, 123]}

In [216]:
def test13(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if "pro" in i[1]:
                print("Found name...")
                print(i[1])
    return kwargs

In [217]:
test13(q = "sam",w =[12,3,4,5],e =True,r =(2,[4,5], False),t = 1.1, y ={2, False, "Pro",3.3}, a = 99, b = "sdfsdf", c = [44,21,123, "pro"])

Found name...
[44, 21, 123, 'pro']

{'q': 'sam',
 'w': [12, 3, 4, 5],
 'e': True,
 'r': (2, [4, 5], False),
 't': 1.1,
 'y': {2, 3.3, False, 'Pro'},
 'a': 99,
 'b': 'sdfsdf',
 'c': [44, 21, 123, 'pro']}

In [222]:
def test14(**kwargs):
    for i in kwargs.values():
        if type(i) == list:
            if "pro" in i:
                print("Found name...")
                print(i)
    return kwargs

In [223]:
test14(q = "sam",w =[12,3,4,5],e =True,r =(2,[4,5], False),t = 1.1, y ={2, False, "Pro",3.3}, a = 99, b = "sdfsdf", c = [44,21,123, "pro"])

Found name...
[44, 21, 123, 'pro']

{'q': 'sam',
 'w': [12, 3, 4, 5],
 'e': True,
 'r': (2, [4, 5], False),
 't': 1.1,
 'y': {2, 3.3, False, 'Pro'},
 'a': 99,
 'b': 'sdfsdf',
 'c': [44, 21, 123, 'pro']}

In [226]:
def test15(*args):
    d = {}
    for i in args:
        if type(i) in d:
            d[type(i)].append(i)
        else:
            d[type(i)] = [i]
            
    return d

In [227]:
test15("sam", "Siddiqui", [12,3,4,5], 3, True, (2,[4,5], False), 1.1, {2, False, "Pro",3.3})

{str: ['sam', 'Siddiqui'],
 list: [[12, 3, 4, 5]],
 int: [3],
 bool: [True],
 tuple: [(2, [4, 5], False)],
 float: [1.1],
 set: [{2, 3.3, False, 'Pro'}]}