In [3]:
class person:
    def __init__(self, n, a):
        self.name = n
        self.age = a
        
person1 = person("proma", 20)
print(person1)

<__main__.person object at 0x00000168FA353610>

In [5]:
person1.name

'proma'

# Dataclass

In [6]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age: int
    profession: str
        
person2 = Person("sam", 5, "AI")
print(person2)

Person(name='sam', age=5, profession='AI')

# overwriting class variables

In [9]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age: int
    profession: str= "AI"
        
person3 = Person("sam", 5)
print(person3)

Person(name='sam', age=5, profession='AI')

In [10]:
person3.profession = "MLE"

In [11]:
person3.profession

'MLE'

# Immutable Class

In [14]:
@dataclass(frozen = True)
class point:
    x:int
    y:int
        
point1= point(2,3)
print(point1)

point(x=2, y=3)

In [15]:
point1.x = 9

FrozenInstanceError: cannot assign to field 'x'

# Inheritence

In [18]:
@dataclass
class Person:
    name:str
    age: int
   

@dataclass
class Employee(Person):
    employee_id :str
    dep: str
   
        
    
    
person4 = Person("sam", 5)

emp= Employee("sam", 5, "12", "ml")
print(emp)

Employee(name='sam', age=5, employee_id='12', dep='ml')

# Nested dataclass

In [22]:
@dataclass
class Adress:
    street : str
    city:str
        
@dataclass
class Person:
    name:str
    age: int
    adress: Adress

        
address = Adress("sec 3", "dhaka" )
p = Person("sam", 5,address )

In [23]:
p

Person(name='sam', age=5, adress=Adress(street='sec 3', city='dhaka'))

In [24]:
p.adress.city

'dhaka'